	<h1>{{lng.settings}}</h1>

	<form class="form" >
	<table class="formtbl">
		<tr ng-repeat="item in items "><td class="formtxt">{{lng[item.lang]}}: </td><td class="formval">
			<div ng-if="item.ctrl == 'input'" ge-edit="item.value" ge-func="savedb" ge-field="{{item.name}}" ge-callback="updatesettings" 
			ge-class="{{item.class}}"></div>
			<div ng-if="item.ctrl == 'switch'" ge-field="{{item.name}}" ge-check="item.value" ge-func="changeswitch"></div>
		</td></tr>

		<!--tr><td class="formtxt">{{lng.language}}: </td><td class="formval"><select ng-model="form.dblang"  class="form-control" ng-change="language()">
<option ng-repeat="item in langlist" value="{{item.code}}" ng-selected="item.code==cfg.dblang">{{item.native}}</a>
		</select></td></tr-->
		<!--tr><td class="formtxt">{{lng.apitoken}}: </td><td class="formval">
			<div ge-edit="form.apitoken" ge-func="savedb" ge-field="apitoken" ge-class="form-control wbig"></div></td></tr-->
	</table>
	</form>
