<table class="formtbl">
        <tr><td class="formtxt">{{lng.name}}: </td><td class="formval">
            <input type="text" ng-model="form.title" required class="form-control wbig"></td></tr>
        <tr><td class="formtxt">{{lng.link}}: </td><td class="formval">
            <input type="text" ng-model="form.url" required class="form-control wbig"></td></tr>
        <tr><td class="formtxt">{{lng.hint}}: </td><td class="formval">
            <input type="text" ng-model="form.hint" class="form-control wbig"></td></tr>
        <tr ng-if="!form.id"><td class="formval" colspan="2">
            <div ge-tree="tablefld" ge-cur="form.idparent"></div></td></tr>
</table>