
<div style="margin: 5px 10px 10px;"><input type="text" ng-model="link.search" ng-keypress ="keypress($event)" class="form-control" style="width: 200px;margin-right: 5px;">
<div class="btn-group">
	<a class="btn" onclick="return js_linkpage( 0 )" 
 style="padding: 2px 5px 4px;"	href="" ><i class="fa fa-fw fa-search"></i></a>
	<a class="btn" onclick="rootScope.link.search='';return js_linkpage( 0 );" ng-if="link.search"
 style="padding: 2px 5px 4px;"	href="" ><i class="fa fa-fw fa-times"></i></a>
</div>
</div>
<div ng-if="link.istree" class="linkcrumbs">
<a href='' ng-click="linkparent(0)" ><i class="fa fa-home fa-fw"></i></a>	
<span ng-repeat-start="icrumb in link.crumbs">/</span><a href='' ng-click="linkparent( icrumb.1 )"  ng-repeat-end>{{icrumb.0}}</a>
</div>
<div ng-repeat="ilist in link.list" ng-class="{treelink: link.istree==1}">
<a href='' ng-click="linkparent( ilist.id )" ng-if="ilist.count" class="folder" ><i class="fa fa-folder fa-fw"></i> {{ilist.count}}</a>
<a href='' ng-click="linkselect( ilist.id )" class="strip linkitem">
{{ilist.title}}</a></div>

<div style="text-align:center;"><div class="btn-group" style="margin-top: 10px;">
	<a class="btn" onclick="return js_linkpage(-1)" href="" ng-if="link.offset"><i class="fa fa-chevron-up fa-lg"></i>{{lng.prev}}</a>
	<a class="btn" onclick="return js_linkpage(1)" href="" ng-if="link.next"><i class="fa fa-chevron-down fa-lg"></i>{{lng.next}}</a>
	</div>
</div>
