  <h1>{{title}}</h1>
 
  <form class="form" ng-submit="submit()">
    <table class="formtbl">
        <tr><td class="formtxt">{{lng.name}}: </td><td class="formval"><input type="text" ng-model="form.title" required class="form-control"></td></tr>
        <tr><td class="formtxt">{{lng.commentjs}}: </td><td class="formval"><input type="text" ng-model="form.comment" class="form-control wbig"></td></tr>
        <tr ng-show="isalias"><td class="formtxt">{{lng.alias}}: </td><td class="formval"><input type="text" ng-model="form.alias" class="form-control"></td></tr>
        <tr ><td class="formtxt">{{lng.hierdata}}: </td><td class="formval">
            <div ge-check="form.istree" ge-func="istree" ></div>
        </td></tr>
        <tr><td colspan="2">
            <h2>{{lng.listfields}}</h2>
            <table class="fields" style="width: 600px;"><tbody id="fields">
                <tr class="nosort"><th>{{lng.name}}</th><th></th><th>{{lng.type}}</th><th ng-show="isalias">{{lng.alias}}</th><th></th></tr>
                <tr  ng-repeat="item in items" ind="{{item.id}}" ord="{{$index}}"><td>{{item.title}}</td><td><i class="fa fa-eye" ng-if="item.visible"></i></td><td>{{lng[types[item.idtype].name]}}</td>
                    <td ng-show="isalias">{{item.alias}}</td>
                    <td><div class="fabtn-group"><a class="fabtn" ng-click='editfield( $index )'><i class="fa fa-pencil fa-fw"></i></a>
                        <a class="fabtn" style="cursor: move;" ng-mousedown='sortfield( false )'><i class="fa fa-arrows-v fa-fw"></i></a>
                        <a class="fabtn" ng-click='removefield( $index )'><i class="fa fa-times fa-fw"></i></a></div></td></tr>
                </tbody>
            </table>
            <div style="text-align:right;"><a class="btn btn-primary" ng-click="editfield()"><i class="fa fa-plus"></i>{{lng.add}}</a></div>
        </td></tr>
        <tr><td></td><td class="formval"><input type="submit" value="{{action}}" class="btn btn-primary btn-lg" ></td></tr>
    </table>

  
    </form>    
<script type='text/javascript'>
/*    $(document).ready(function() {
        jQuery( "#fields" ).sortable( { axis: "y",
            update: function( event, ui ) { 
                 alert( ui.item.attr("ind") );
            },
            cancel: ".nosort" } );
        //$( "#sortable" ).disableSelection();
    });*/
</script>