<table class="formtbl">
        <tr><td class="formtxt">{{lng.commentjs}}: </td><td class="formval">
            <textarea name='comment' ng-model='form.comment' class='form-control wbig' style='height: 5em;'></textarea></td></tr>
        <tr><td class="formtxt">{{lng.filename}}: </td><td class="formval">
            <input type="text" ng-model="form.filename" required class="form-control wbig"></td></tr>
        <tr><td class="formtxt">{{lng.size}}: </td><td class="formval">
            <div class='view-control' ng-bind='form.size' style="display:inline-block;"></div></td></tr>    
        <tr ng-if="form.w"><td class="formtxt">{{lng.width}}: </td><td class="formval">
            <div class='view-control' ng-bind='form.w' style="display:inline-block;"></div></td></tr>    
        <tr ng-if="form.h"><td class="formtxt">{{lng.height}}: </td><td class="formval">
            <div class='view-control' ng-bind='form.h' style="display:inline-block;"></div></td></tr>    
</table>