<h1>{{lng.menu}}</h1>

 <a href="" ng-click="editmenu()" class="flatbtn"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;{{lng.newitem}}</a>
<a href="" ng-click="editfolder()" class="flatbtn"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;{{lng.newfld}}</a>
 <a class="flatbtn" ng-if="cfg.showhelp" target="_blank" href="http://{{::cfg.website}}/how-to-manage-menu.html" title="{{::lng.help}}"><i class="fa fa-question fa-lg"></i></a>

<script type="text/ng-template"  id="topmenu.html">
     <div class="imenulist" ng-class-odd="'strip'" ind="{{item.id}}" >
         <div style="display:inline-block" ng-if="item.isfolder">
        <i ng-if="!item.expand" class="fa fa-folder"></i><i ng-if="item.expand" class="fa fa-folder-open pull-left"></i><a href="" ng-click="item.expand = !item.expand">{{item.title}}</a>
        </div>
        <a ng-href="{{item.url}}" ng-if="item.isfolder==0" >{{item.title}}</a>
        <div class="fabtn-group">
            <a href="" ng-click="edit( item.id )" class="fabtn"><i class="fa fa-pencil fa-fw"></i></a>
              <a class="fabtn" style="cursor: move;" ng-mousedown="sortok( item.id )"
        ><i class="fa fa-arrows-v fa-fw"></i></a>
               <a href="" ng-click="delmenu( item.id )" class="fabtn"><i class="fa fa-times fa-fw"></i></a>&nbsp;
        </div>
    </div>
    <div ng-if="item.isfolder" ng-show="item.expand" style="padding-left: 20px;">
        <div class="menulist" ng-repeat="item in item.children" ng-include="'topmenu.html'">
        </div>
    </div>
    
</script>

<!--div class="crumbs"><a href="#/?id={{crumb.id}}" ng-class="{crumblast:$last,crumb: !$last }" ng-repeat-start="crumb in crumbs">{{crumb.title}}</a> <i ng-repeat-end class="fa fa-angle-double-right" ng-if="!$last"></i> </div-->
<div id="fields">
<div class="menulist" ng-repeat="item in topmenu" ng-include="'topmenu.html'">
</div>
</div>

<!--div class="ilist" ng-class-odd="'strip'" ng-repeat="item in items" ind="{{item.id}}" ord="{{$index}}"><i ng-if="item.isfolder" class="fa fa-folder pull-left"></i>
    <div class="btn-group" onMouseOver='js_menuover( this );' 
onMouseOut='js_menuout( this );' >
  <a ng-if="item.isfolder != 1" href="" class="btn btn-default">{{lng.view}}</a>
  <a ng-if="item.isfolder" ng-href="#/?id={{item.id}}" class="btn btn-default">{{lng.open}}</a>
    <div class="btnsubmenu">
        <a ng-if="item.isfolder != 1" ng-href="#/edittable?id={{item.id}}">{{lng.settings}}</a>
        <a ng-if="item.isfolder" ng-click="editfolder($index)">{{lng.settings}}</a>
        <nobr><a href='' ng-click="changefld( $index )">{{lng.changefld}}</a></nobr>
        <a href='' ng-click="droptable( $index )">{{lng.del}}</a>
      </div>
  <button type="button" class="btn btn-default btnmenu">
    <i class="fa fa-caret-down"></i> 
  </button>
</div>  
<a ng-if="item.isfolder"
    ng-href="#/?id={{item.id}}">{{item.title}}</a>
    <a ng-if="item.isfolder != 1"
    ng-href="#/edittable?id={{item.id}}">{{item.title}}</a>
    <span ng-if="item.comment"><br><i><small>{{item.comment}}</small></i></span>
                    <span ng-show="isalias">{{item.alias}}</span>
<div class="clear"></div>
                </div-->

