<h1>{{db.title}}</h1>

<a href='' class="flatbtn" ng-click="setmode( cnt.M_NEW )" ng-class="{flatcur:mode==cnt.M_NEW}"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;{{lng.newitem}}</a> <a href="" ng-if="allcount" ng-class="{flatcur:mode==cnt.M_VIEW || mode==cnt.M_EDIT}" ng-click="setmode( cnt.M_VIEW )" class="flatbtn"><i class="fa fa-list-alt fa-lg"></i>&nbsp;&nbsp;{{lng.card}}</a> <a href="" ng-click="setmode( cnt.M_LIST )" class="flatbtn" ng-class="{flatcur:mode==cnt.M_LIST}"><i class="fa fa-table fa-lg"></i>&nbsp;&nbsp;{{lng.spreadsheet}}</a> <a href="" ng-click="update()" class="flatbtn"><i class="fa fa-refresh fa-lg"></i>&nbsp;&nbsp;{{lng.refresh}}</a> <a href="#/edittable?id={{::params.id}}" class="flatbtn" title="{{::lng.settings}}"><i class="fa fa-cog fa-lg"></i></a><!--a class="flatbtn" ng-if="cfg.showhelp && helplink" target="_blank" href="{{helplink}}" title="{{::lng.help}}"><i class="fa fa-question fa-lg"></i></a-->
<div class="crumbs"><a href="#/?id={{crumb.id}}" ng-class="crumb" ng-repeat-start="crumb in crumbs">{{crumb.title}}</a> <i ng-repeat-end class="fa fa-angle-double-right" ng-if="!$last"></i> </div>

<div id="card" style="display: none;">
    <form class="form" ng-submit="saveitem()" id="cardedit">
    <div ng-if="mode!=cnt.M_NEW" class="btn-group">
    <a href="" ng-click="move(-1)" class="btn"><i class="fa fa-chevron-left fa-lg"></i>{{lng.prev}}</a>
    <a href="" ng-click="setmode( cnt.M_VIEW )" class="btn"><i class="fa fa-list-alt fa-lg"></i>{{lng.card}} {{allcur}}/{{allcount}}</a>
    <a href="" ng-click="move(1)" class="btn">{{lng.next}}&nbsp;<i class="fa fa-chevron-right fa-lg"></i></a>
    </div>
    <table class="formtbl" cellpadding="0" cellspacing="0" compile="edititems" style="margin-top: 10px;">
    </table>
    </form>
    <div class="form" id="cardview">
    <div class="btn-group">
    <a href="" ng-click="move(-1)" class="btn"><i class="fa fa-chevron-left fa-lg"></i>{{lng.prev}}</a>
    <a href="" ng-click="setmode( cnt.M_EDIT )" class="btn"><i class="fa fa-pencil fa-lg"></i>{{lng.edit}} {{allcur}}/{{allcount}}</a>
    <a href="" ng-click="move(1)" class="btn">{{lng.next}}&nbsp;<i class="fa fa-chevron-right fa-lg"></i></a>
    </div>
    <table class="formtbl" cellpadding="0" cellspacing="0" compile="viewitems" style="margin-top: 10px;">
    </table>
    </div>
</div> 
<div bindonce="items" id="list">
    <table class="form tdpad"><tr ng-repeat="ifilter in filter"><td ng-if="!ifilter.logic">{{::lng.filter}}:</td>
        <td ng-if="ifilter.logic">
            <select ng-model="ifilter.logic">
            <option ng-repeat="ilogic in logic" ng-selected="ilogic.id==ifilter.logic" 
                   value="{{ilogic.id}}">{{ilogic.title}}</option>
        </select>
        </td>
        <td><select ng-model="ifilter.field" ind="{{$index}}" onchange="js_filterfield( this )" >
            <option ng-repeat="ifield in fltfields" ng-selected="ifield.id==ifilter.field" value="{{ifield.id}}">{{ifield.title}}</option>
        </select></td><td><label><input type="checkbox" ng-model="ifilter.not">{{::lng.not}}</label></td><td><select ng-model="ifilter.compare">
            <option ng-repeat="icmp in compare" ng-selected="ifilter.compare==icmp.id" value="{{icmp.id}}" ng-if="ismask( ifilter.field, icmp.mask )">{{icmp.title}}</option>
    </select></td>
        <td style="white-space: nowrap;"><input type="text" class="view-control" ng-model="ifilter.value" style="width: 150px;display: inline-block;"><a ng-if="iscustom(ifilter.field, cnt.FT_LINKTABLE )" href="" class="formbtn" ng-click="editlink( 0, ifilter.field, $index )"><i class="fa fa-fw fa-th-list"></i></a>
        <a ng-if="iscustom(ifilter.field, cnt.FT_DATETIME ) && ifilter.compare < 17" href="" class="formbtn" 
        ng-click="filterdate( $index, $event )"><i class="fa fa-fw fa-calendar"></i></a>
        <div ng-if="iscustom(ifilter.field, cnt.FT_SETSET )" ge-key='{{ifilter.field}}' ge-set='ifilter.value' style="white-space: normal; margin-top: 5px;"></div>        
        </td><td><a href="" ng-if="!$index" class="formbtn" ng-click="fltadd()"><i class="fa fa-fw fa-plus"></i></a><a href="" ng-if="$index" class="formbtn" ng-click="fltdel( $index )"><i class="fa fa-fw fa-minus"></i></a>&nbsp;    
</td><td> <a style="margin-top: 10px;" ng-if="!$index" href="" ng-click="update()" class="btn btn-primary btn-lg">{{::lng.apply}}</a> <a style="margin-top: 10px;"  ng-if="!$index" href="" ng-click="fltclear()" class="btn btn-primary btn-lg">{{::lng.cancel}}</a></td></tr>
    </table> 
    <center><table><tr><td align="left" style="padding-right: 2em;">
        {{::lng.numrec}}: <strong>{{allcount}}</strong>
    </td>
    <td align="center"><div class="pages">
    </div>
    </td><td style="padding-left: 2em;">{{::lng.perpage}}:&nbsp; 
        <select ng-model="onpage" ng-change="update()">
            <option ng-repeat="iper in perpage" ng-selected="iper==onpage" 
                   value="{{iper}}">{{iper}}</option>
        </select>
    </td>   
    </tr></table></center>
    <div ng-if="db.istree == 1" class="linkcrumbs">
        <a href="" ng-class="{switchoff:params.parent==undefined, switchon:params.parent!=undefined }" ng-click="treemode()"><i class="fa fa-fw fa-sitemap"></i></a>    
        <a href='' ng-if="params.parent!=undefined" onclick="return js_treechange(0)" ><i class="fa fa-home fa-fw"></i></a>    
        <span ng-repeat-start="icrumb in crumbs">/</span><a href='' ng-click="treechange(icrumb[1])"  ng-repeat-end>{{icrumb[0]}}</a>
    </div>
    <table cellpadding="0" cellspacing="0" class="table" id="mainlist">
    </table>
    <center>
    <table><tr><td align="left">
        <a href="" ng-class="{switchoff:total.result==undefined, switchon:total.result!=undefined }" ng-if="total.is" ng-click="summary( 1 )" title="{{::lng.calcamount}}"><i class="fa fa-fw fa-calculator"></i></a> 
        <a href="" ng-class="{switchoff:!enztable.uptime, switchon:enztable.uptime }" ng-click="uptime()" title="{{::lng.viewuptime}}"><i class="fa fa-fw fa-clock-o"></i></a> 
    <select onchange="return js_listselect( this )" class="form-control">
        <option value="0">{{lng.withsel}}</option>
        <option value="delete">{{lng.del}}</option>
    </select>
    </td>
    <td align="center"><div class="pages">
    </div>
    </td>
    </tr></table></center>
</div>
<div id="linkcard" style="display:none;">
    <div class="form" >
        <div class="btn-group">
        <a href="" ng-click="cardback()" class="btn"><i class="fa fa-chevron-left fa-lg"></i>{{lng.back}}</a>
        </div>
    <table class="formtbl" cellpadding="0" cellspacing="0" compile="carditems" style="margin-top: 10px;">
    </table>
    </div>
</div>